<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Nuovo to do</h4>
		<button type="button" class="btn-close" (click)="dismissModal(modal)"></button>
	</div>
	<div class="modal-body">

		<form [formGroup]="todoForm">
      <div class="mb-3">
				<label for="dateOfBirth">Titolo</label>
				<div class="input-group">
					<input
						id="title"
						class="form-control"
						placeholder="es. compito x"
						name="title"
            type="text"
            formControlName="title"
            [class.is-invalid]="todoForm.get('title')?.dirty && todoForm.get('title')?.invalid"
					/>
				</div>
			</div>
      <div class="mb-3">
				<label for="dateOfBirth">Scadenza</label>
				<div class="input-group">
					<input
						id="dueDate"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
            formControlName="dueDate"
            [class.is-invalid]="todoForm.get('dueDate')?.invalid"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
				</div>
			</div>
		</form>
    
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="closeModal(modal)">Crea</button>
	</div>
</ng-template>