<div class="d-flex justify-content-center">
  <div class="p-3 col-md-8 col-lg-6 shadow-lg m-4 rounded">
    <h1 class="text-center mb-3">To do list</h1>
    <div class="mb-3 d-flex align-items-center justify-content-between gap-2">
      <!-- Checkbox showCompleted -->
      <div class="border rounded p-2">
        <app-checkbox
          [checkboxName]="'showCompleted'"
          [text]="'Mostra completati'"
          [value]="(checkSubject | async)!"
          (checkboxChange)="setCheckValue($event)"
        ></app-checkbox>
      </div>
      <!-- Button create todo -->
      <div>
        <button 
          class="btn btn-primary p-2"
          (click)="openModal()"
        ><i class="bi bi-plus-lg"></i> Nuovo to do</button>
      </div>
    </div>

    <!-- Todo list -->
    <div *ngIf="todos$ | async as todos">
      <div *ngIf="todos.length > 0; else voidlist">
        <div *ngFor="let todo of todos" class="mb-3">
          <app-todo-card
            [todo]="todo"
            [completed]="todo.completed"
            (completeChange)="todoCheckComplete(todo, $event)"
          ></app-todo-card>
        </div>
      </div>
      <ng-template #voidlist>
        <div>Tutti i to do sono completati</div>
      </ng-template>
    </div>

  </div>
</div>
<footer class="p-3">
  <p class="text-center">Created by Federico Panarotto</p>
</footer>